

.main{
    font-family: 'Courier New', Courier, monospace;
    line-height: 2;
}
.greenHeader{
    color: green;
}

h3{
    font-size: 22px;
    background-color: yellow;
}

h1{
    font-size: 40px;
    text-decoration: underline;
}

.image{
    height: auto;
    width: 400px;
}

.noYellow{
    background-color:white;
}